/* footer */
#footer .block_various_links {padding:0px; width:100%; text-align:center; margin-top:0px;}

/* Block CMS links */
.informations_block_left li {border:none; margin-left:5px;}
.informations_block_left li.last {border:none; margin-left:5px;}
.informations_block_left li a {
  background: none repeat scroll 0 0 transparent;
    color: #5F5F5F;
    display: block;
    font-size: 12px;
    padding: 3px 10px 3px 0;
	font-weight:normal;
}
.informations_block_left li a:hover { color:#000; text-decoration:none;} 
tr.subitem > td:first-child + td {
    padding-left: 10px;
}