/* Block specials */
#special_block_right p {
	padding-bottom:5px;
	font-weight:bold;
	text-align:left;
	padding-top:5px;
}
#special_block_right p a	{ color:#5F5F5F;}
#special_block_right p a:hover	{ color:#000; text-decoration:none;}
#special_block_right .products li {
	padding:0;
	border:none;
	margin-bottom:5px;
}
#special_block_right li h5 {
	padding:0 0 3px 0;
	font-size:12px
}
#special_block_right .products li a {
	padding:0;
	background:none;
	color:#5F5F5F;
	font-size:12px;
	font-weight:normal;	
}
#special_block_right .products li a:hover { color:#000; text-decoration:none;}
#special_block_right li.product_image {
	border: 1px solid #D1D1D1;
    padding: 0;
	margin:0 0 5px 0;
}

#special_block_right .products span.price-discount {
	font-size:12px;
	text-decoration:line-through;
	color:#FF0000;
}
#special_block_right .products span.reduction {
	float:right;
	padding:0 0 0 10px;
	font-weight:bold;
	font-size:12px;
	color:#fff;
	background:url(https://inova.com.bo/themes/PRS030057/css/modules/blockspecials/img/bg_reduction.png) no-repeat 0 0;
	margin-left:10px;
	position:absolute;
}
	#special_block_right .products span.reduction span {
		display:block;
		padding:1px 5px 1px 0;
		background:url(https://inova.com.bo/themes/PRS030057/css/modules/blockspecials/img/bg_reduction.png) no-repeat 100% 0
	}
#special_block_right .products span.price {
	display:block;
	padding:3px 0 5px;
	font-weight:bold;
	font-size:13px;
	margin:0;
	color:#000;
}

#special_block_right .block_content .prod_image {
    background-color: #FFFFFF;
    border: 1px solid #eee;
    float: left;
    margin-bottom: 0;
    margin-right: 8px;
    padding: 0px;
}
#special_block_right .block_content .prod_content {
    float: left;
    width: 130px;
}