/* block top search */
#search_block_top {
    background: url("https://inova.com.bo/themes/PRS030057/img/search.gif") no-repeat scroll 0 0 transparent;
    float: right;
    height: 37px;
    position: absolute;
    right: 3px;
    top: 0;
    width: 266px;
}
#search_block_top p {padding:0;}
#search_block_top #search_query_top {
	 background: none repeat scroll 0 0 transparent;
    border: medium none;
    float: left;
    height: 21px;
    margin: 4px 0 0 10px;
	 margin: 6px 0 0 10px !ie;
    padding: 2px 8px;
    width: 204px;
}

#search_block_top .button {
	 background: url("https://inova.com.bo/themes/PRS030057/img/btn_go.gif") no-repeat scroll left center transparent;
    border: medium none;
    border-radius: 0 0 0 0;
    float: left;
    font-size: 0;
    height: 24px;
    margin-left: 0;
    margin-top: 5px;
    width: 22px;
}

